body {
    background: url(../images/bg.png) repeat;
    color: #6e7876;
    font-size: 18px;
}
.fullOpacity {
    opacity: 1;
}
. {
    width: 25px;
    height: 25px;
}
a {
    color: #577d5d;
}

h1 {
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.todo {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.todo input[type=submit] {
    background: #6e7876;
    color: #ebf5ed;
    border: 1px solid #6e7876;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #555;
    box-shadow: inset 0 1px 0 #c9d6cc,
                inset 0 -1px 0 #555;
    padding: 5px;
}

.todo input[type=submit]:hover {
    box-shadow: inset 0 -1px 0 #c9d6cc,
                inset 0 1px 0 #555;
}

.todo input[type=text] {
    padding: 5px;
}

.todo .todo_action {
    cursor: pointer;
}

ul {
    margin: 20px 0;
    padding: 0;
}

li {
    list-style:none;
    clear: both;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 3px;
    background: rgba(255,255,255,0.5);
    padding: 2px 5px;
    border-radius: 3px;
}

li > div:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

li > div > span {
    float: left;
    line-height: 30px;
}

li > div > input[type=text] {
    float: left;
}

li > div > img {
    float: right;
    padding: 2px;
}

.copyright {
    color: #525c5a;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 14px;
    display: block;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}