/* @group RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #006BC1;
}
/* @endgroup RESET */

/* @group TO DO APP */

.todo_cnt { width:100%; padding-bottom:20px; margin:0 auto; border-bottom:2px solid #ccc; text-align:center; box-shadow:0 0 35px #eee; font:14px Helvetica, Arial, sans-serif; text-shadow:0 1px 0 #fff; color:#6e7876; }

.todo_head { width:100%; border-bottom:5px solid #ccc; 
background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 63%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 63%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 63%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 63%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 63%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.63, rgb(238,238,238))
);
}
    .todo_head h1 { color:#858585; padding:0; margin-bottom:-14px; font:46px Century Gothic,Arial,sans-serif; text-align:left; text-shadow: 2px 0px 0 #eee; }

    .todo_head .skin_selector { position:absolute; top:0; right:10px; }
        .todo_head .skin_selector li { float:left; margin:0 4px; }
        .todo_head .skin_selector li a { display:block; border:1px solid #ccc; border-top:0; border-radius:0 0 4px 4px;  padding:10px; color:#858585; text-decoration:none; background-color:#eee; box-shadow:0px 1px 4px 1px #ccc; font-weight:bold; }
        .todo_head .skin_selector li a:hover { background:#fff; }

.todo_add { padding:10px 0; background-color:#eee; border-bottom:2px solid #ccc; }
    .todo_add p { margin:10px 0; }
    .todo_add .input_txt { width:250px; padding:6px; border:1px solid #6E7876; border-radius:4px 0 0 4px; margin:0; }
    .todo_add .input_send { padding:6px; margin-left:-5px; background-color:#858585; color:#ebf5ed; border:1px solid #858585; border-radius:0 4px 4px 0; cursor:pointer; text-transform:uppercase; text-shadow:0 1px 0 #555; box-shadow:inset 0 1px 0 #c9d6cc, inset 0 -1px 0 #555; }

        .todo_add .input_send:hover { box-shadow: inset 0 -1px 0 #c9d6cc, inset 0 1px 0 #555; }

#todo_list { overflow:hidden; height:auto; padding:0; padding:20px 0; }

    #todo_list li { clear:both; width:300px; padding:2px 5px; margin:0 auto; margin-bottom:3px; list-style:none; text-align:center; background:rgba(238,238,238,0.5); border-radius:3px; }
    #todo_list li.done { text-decoration:line-through; }
    
    #todo_list li div { display:block; overflow:hidden; position:relative; }

        #todo_list li div span { float: left; line-height:35px; }

        #todo_list li div input { float:left; width:200px; padding:5px; }

        #todo_list li div img { opacity:0;
        -webkit-transition:all .2s ease-in-out;
            -moz-transition:all .2s ease-in-out;
            -o-transition:all .2s ease-in-out;
            -ms-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
         }
            #todo_list li:hover img { opacity:1; }

        #todo_list li div img.todo_action { float:right; padding:10px 8px 6px 4px; cursor:pointer; }
        #todo_list li div img.edit_action { padding-top:7px; }
/* @endgroup TO DO APP */